

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Foyer</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    
    <link href="foyer.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--     Fonts and icons     -->
    <link href='https://fonts.googleapis.com/css?family=Cambo|Poppins:400,600' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/fonts/pe-icon-7-stroke.css" rel="stylesheet">
</head>

<body  style="background-color: #eee !important;">

  <nav class="navbar navbar-default navbar-fixed-top shadow-lg" color-on-scroll="200" style="height:10vh;">
    <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
    <div class="container ">
        <div class="navbar-header ">
          
            <a href="welcome.html" class="navbar-brand" >
              Logo
            </a>
        </div>
     
            <ul class="row" style="list-style: none">
               
            
                <li>
                    <a href="#" class="btn btn-danger btn-fill mr-4">Se connecter</a>
                </li>
                <li>
                  <a href="#" class="btn btn-danger btn-fill">S'inscrire</a>
              </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<div class="container-fluid">

   
    <h2 class="mt-5">Foyer universitaire Sahloul,Sousse
    
    </h2>
  
    <div class="row">
  
      <div class="col-md-6 mr-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3234.6780641299083!2d10.590979499046822!3d35.832373688228735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd8af14dbd662d%3A0x5a40c4ef97e5f665!2sFoyer%20Universitaire%20Sahloul%2C%20Sousse!5e0!3m2!1sen!2stn!4v1598454175090!5m2!1sen!2stn" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>    </div>
  
      <div class="col-md-5 ml-5">
          <div class="row">
              <img src="assets/img/building.png" width="50px" height="50px">
        <h3 class="my-3 ml-3">Foyer universitaire Sahloul,Sousse</h3>
          </div >
 
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
      <div class="row">
        <img src="assets/img/bed.png" width="50px" height="47px">
  <h3 class="my-3 ml-3">Chambres disponibles</h3>
    </div >
        <ul >
          <li>Individuelle</li>
          <li>Binôme</li>
          <li>Trinôme</li>
        </ul>
        <a href="#" class="btn btn-danger btn-fill btn-lg " style="margin-left: 400px;">Réservez</a>

      </div>
  
    </div>
    <!-- /.row -->
  
    <!-- Related Projects Row -->
    <h3 class="my-4 ml-2">Photos</h3>
  
    <div class="row">
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="https://www.e-monsite.com/s/2011/01/08/foyersahloul/53248785pict0130-jpg.jpg" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="https://www.e-monsite.com/s/2011/01/08/foyersahloul/53248785pict0130-jpg.jpg" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="https://www.e-monsite.com/s/2011/01/08/foyersahloul/53248785pict0130-jpg.jpg" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="https://www.e-monsite.com/s/2011/01/08/foyersahloul/53248785pict0130-jpg.jpg" alt="">
            </a>
      </div>
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
  <div class="testimonial6 py-5" style="background-color: #eee;">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-3">
          <div class="nav flex-column nav-pills testi6" id="v-pills-tab" role="tablist">
            <a class="nav-link active" data-toggle="pill" href="#t6-1" role="tab" aria-controls="t6-1" aria-expanded="true">
                                        <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/testimonial/1.jpg" alt="wrapkit" class="rounded-circle" />
                                    </a>
            <a class="nav-link" data-toggle="pill" href="#t6-2" role="tab" aria-controls="t6-2" aria-expanded="true">
                                       <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/testimonial/2.jpg" alt="wrapkit" class="rounded-circle" />      
                                    </a>
            <a class="nav-link" data-toggle="pill" href="#t6-3" role="tab" aria-controls="t6-3" aria-expanded="true">
                                       <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/testimonial/3.jpg" alt="wrapkit" class="rounded-circle" />      
                                    </a>
            <a class="nav-link" data-toggle="pill" href="#t6-4" role="tab" aria-controls="t6-4" aria-expanded="true">
                                       <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/testimonial/4.jpg" alt="wrapkit" class="rounded-circle" />  
                                    </a>
          </div>
        </div>
        <div class="col-lg-9 col-md-8 ml-auto align-self-center" >
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="t6-1" role="tabpanel">
              <h3 class="" style="color:black !important">
                Ce que disent les étudiants</h3>
              <h6 class="subtitle mt-4 font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do mode tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h6>
              <div class="d-flex mt-5">
                <div>
                  <h5 class="mb-0 text-uppercase font-weight-normal">Hanna Gover</h5>
                  <h6 class="subtitle font-weight-normal">Tunis</h6>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="t6-2" role="tabpanel">
              <h3 class="font-weight-medium"> Ce que disent les étudiants</h3>
              <h6 class="subtitle mt-4 font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do mode tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h6>
              <div class="d-flex mt-5">
                <div>
                  <h5 class="mb-0 text-uppercase font-weight-normal">Hanna Gover</h5>
                  <h6 class="subtitle font-weight-normal">Tunis</h6>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="t6-3" role="tabpanel">
              <h3 class="font-weight-medium"> Ce que disent les étudiants</h3>
              <h6 class="subtitle mt-4 font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do mode tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h6>
              <div class="d-flex mt-5">
                <div>
                  <h5 class="mb-0 text-uppercase font-weight-normal">Hanna Gover</h5>
                  <h6 class="subtitle font-weight-normal">Tunis</h6>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="t6-4" role="tabpanel">
              <h3 class="font-weight-medium"> Ce que disent les étudiants</h3>
              <h6 class="subtitle mt-4 font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do mode tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h6>
              <div class="d-flex mt-5">
                <div>
                  <h5 class="mb-0 text-uppercase font-weight-normal">Hanna Gover</h5>
                  <h6 class="subtitle font-weight-normal">Tunis</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



    <footer class="footer footer-big footer-color-black" data-color="black">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-3">
                    <div class="info">
                        <h5 class="title" style="margin-left: 10px;">Liens</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">Acceuil</a></li>
                                <li>
                                    <a href="#">S'inscrire</a>
                                </li>
                                <li>
                                    <a href="login.html">Se connecter</a>
                                </li>
                            
                                
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-3">
                    <div class="info">
                        <h5 class="title" style="margin-left:10px">Support</h5>
                         <nav>
                            <ul>
                                <li>
                                    <a href="#" style="margin-left:10px">Contact</a>
                                </li>
                                <li>
                                    <a href="#" style="margin-left:10px">FAQ</a>
                                </li>
                               </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="info">
                        <h5 class="title" style="margin-left: 10px;">S'inscrire à notre Newsletter</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus-square"></i> <b>Cliquez</b> Pour joindre votre email
                                        <hr class="hr-small">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class=""></i> 
                                        Avoir accès à toute actualité concernant le site
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1 col-sm-3" style="margin-left: 180px;">
                    <div class="info">
                        <h5 class="title">
                            Suivez nous</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#" class="btn btn-social btn-facebook btn-simple" style="margin-right: 10px;">
                                        <i class="fa fa-facebook-square"></i> Facebook
                                    </a>
                                </li>
                               
                                <li>
                                    <a href="#" class="btn btn-social btn-twitter btn-simple" style="margin-right: 70px;">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-social btn-reddit btn-simple" style="margin-right: 60px;">
                                        <i class="fa fa-google-plus-square"></i> Google+
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <hr>
         
        </div>
    </footer>

</body>


